.header__logo {
    background-image: url("../../../images/logo_white.svg");
    max-width: 142px;
    min-height: 33px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 900px) {
    .header__logo {
    margin-left: 27px;
    }
  }