.header {
  margin: 45px auto 40px;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(32.94%, 32.94%, 32.94%, 0.7);
}

@media screen and (max-width: 720px) {
    .header {
      margin-top: 28px;
      margin-bottom: 42px;
      min-height: 56px;
    }
  }
  