.footer__copyright {
  color: #545454;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 720px) {
    .footer__copyright {
      font-size: 14px;
      line-height: 17px;
      margin: 0 19px;
    }
  }