.button__save {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .button__save {
        font-size: 14px;
        line-height: 17px;
  }
    