.element__button-like {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../images/Vector.svg");
  width: 22px;
  height: 19px;
  margin: auto 0;
  background-color: white;
  border: none;
  flex: 0 0 22px;
}

.element__button-like:hover {
  opacity: 0.6;
  cursor: pointer;
}

.element__button-like:active {
    background-color: black;
  }